[
	{ lager,
	[
		{ colored, true },
		{ handlers,
		[
			{ lager_console_backend, debug },
			{ lager_file_backend, [ { file, "sqerl-error.log" }, { level, error }, { size, 10485760 }, { date, "$D0" }, { count, 1000 } ] },
			{ lager_file_backend, [ { file, "sqerl-console.log" }, { level, debug }, { size, 10485760 }, { date, "$D0" }, { count, 1000 } ] }
		]
		}
	] }
].
